<div class="mt-4">
<form method="POST">
  <div class="form-group">
    <input type="text" name="fullname">
    <input type="text" name="age">
    <label for="search-input">Email address</label> 
<input type="text" name="q" class="form-control" id="search-input"  placeholder="Nhập từ khóa... ">
  </div>
   <div class="form-group">
    <label  for="gender-input">tu khoa</label>
    <select name="gender"class="form-control"id="gender-input">
        <option value="">gioi tinh</option>
        <option value="male">nam</option>
        <option value="female">nu</option>
    </select>
    
   </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>